$bg: #3F2E3E; // 0d0d0d
$contrastbg: #493744; // 393939           //B7B5AC // a5b6cf
$bgSecondary: #3F2E3E; // 282726
$watermelon: #e05f65;

$barForeground: #a19782;

// Common Colors
$black: #242931;
$red: #AF3029;
$blue: #70a5eb;
$cyan: #74bee9;
$blue-des: #70a5eb;
$magenta: #c68aee;
$purple: #c68aee;
$green: #66800B;
$aquamarine: #94f7c5;
$yellow: #D0A215;

// Nord Colors

// NIGHT

$nord-night1: #2E3440;
$nord-night2: #3B4252;
$nord-night3: #434C5E;
$nord-night4: #4C566A;

// SNOW STORM

$nord-snow1: #D8DEE9;
$nord-snow2: #E5E9F0;
$nord-snow3: #ECEFF4;

// FROST

$nord-frost1: #8FBCBB;
$nord-frost2: #88C0D0;
$nord-frost3: #81A1C1;
$nodrd-frost4: #5E81AC;

// AURORA

$nord-aurora-magenta: #BF616A;
$nord-aurora-red: #D08770;
$nord-aurora-yellow: #EBCB8B;
$nord-aurora-mint: #A3BE8C;
$nord-aurora-purple: #B48EAD;

// Gruvbox Dark

$gruvbox-bg: #282828;
$gruvbox-red: #cc241d;
$gruvbox-green: #98971a;
$gruvbox-yellow: #d79921;
$gruvbox-blue: #458588;
$gruvbox-purple: #b16286;
$gruvbox-aqua: #689d6a;
$gruvbox-orange: #d65d0e;


